<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="styles/main.css"/>
    <title>MyBlog</title>
</head>
<body>
    
    <header>
        <nav class="navbar navbar-expand-md custom-navbar">
          <div class="container-fluid">
            <div class="navbar-left me-auto ms-5">
              <form class="form-inline custom-focus d-flex align-items-center">
                <i class="bi bi-search"></i>
                <input type="search" id="mySearch" placeholder="Search..." aria-label="Search" />
                <button id="clearBtn" style="display: none;">✖</button>
              </form>
            </div>
            <div class="navbar-right d-flex me-5">
              <a href="#"><i class="bi bi-facebook"></i></a>
              <a href="#"><i class="bi bi-instagram"></i></a>
              <a href="#"><i class="bi bi-twitter-x"></i></a>
              <a href="#"><i class="bi bi-pinterest"></i></a>
            </div>
          </div>
        </nav>
      </header>

      <div class="container-fluid mt-4">
        <div class="row">
            <div class="col-6 ps-5">
                <h2 class="head-title">
                    Turning Heads
                </h2>
              </div>
            <div class="col-6">
                <header class="d-flex justify-content-end pe-5">
                    <ul class="nav nav-pills">
                        <li class="nav-item">
                          <form action="/home" method="get">
                            <button type="submit" class="nav-link custom-nav-link">Home</button>
                          </form>
                        </li>
                        <li class="nav-item">
                          <form action="/features" method="get">
                            <button type="submit" class="nav-link custom-nav-link">My Blog</button>
                          </form>
                        </li>
                        <li class="nav-item">
                          <form action="/about" method="get">
                            <button type="submit" class="nav-link custom-nav-link">About</button>
                          </form>
                        </li>
                        <li class="nav-item">
                            <form action="/contact" method="get">
                              <button type="submit" class="nav-link custom-nav-link">Contact</button>
                            </form>
                          </li>
                      </ul>                      
                  </header>
            </div>
        </div>
      </div>

    